{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}
